<html>
  <div>
    <% if current_user.id == @user.id %>
      Welcome <%= current_user.username %>
    <% else %>
      <%= @user.username %>
    <% end %>
  </div>
  <br>

<% # Add Friend Button %>
  <% unless current_user == @user || current_user.friends.include?(@user) %>
    <div>
      <form action="http://localhost:3000/friendships" method="POST">
        <input type="hidden" name="my_authenticity_token" value="<%= my_form_authenticity_token %>">
        <input type="hidden" name="friendship[requesting_id]" value="<%= current_user.id %>">
        <input type="hidden" name="friendship[requested_id]" value="<%= @user.id %>">
        <input type="submit" value="Add Friend">
      </form>
    </div>
  <% end %>
  <br>

<% # Friend Requests Sent  %>
  <div>
    Sent Friend Requests
    <ul>
      <% @user.requested_friends.each do |requested_friend| %>
        <li>
          <a href="http://localhost:3000/users/<%= requested_friend.id %>"><%= requested_friend.username %></a>
        </li>
      <% end %>
    </ul>
  </div>

<% # Pending Friend Requests Received %>

<% # Display All Friends %>
  <div>
    Friends
    <ul>
      <% @user.friends.each do |friend| %>
        <li>
          <a href="http://localhost:3000/users/<%= friend.id %>"><%= friend.username %></a>
        </li>
      <% end %>
    </ul>
  </div>

<% # Link to See All Users %>
  <div>
    <a href="http://localhost:3000/users">See All Users</a>
  </div>
</html>
